/*** PRIMARY ***/
	* {
		box-sizing: border-box;
	}
	html {		
		font-family: 'Open Sans', sans-serif;
		font-size: 16px;
	}
	body {
	  margin: 0;
	  background-color: #23282d;
	}
	article,
	aside,
	details,
	figcaption,
	figure,
	footer,
	header,
	hgroup,
	main,
	menu,
	nav,
	section,
	summary {
	  display: block;
	}

/*** HEADER ***/
	#header {
		font-family: 'Open Sans Condensed', sans-serif;
		height: 75px;
		line-height: 75px;
		font-size: 1.7em;
		color: #FFF;
		padding: 0 25px;
		border-bottom: 1px solid #7C7A29;
		width: 100%;
		background-color: #96932A;
		z-index: 9999;
	}
		#header a {
			text-decoration: none;
			color: inherit;
		}

/*** RESOURCES ***/
#resources_container {
	display: none;
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	background-color: rgba(0,0,0,.5);
}
#resources {
	background-color: #FFF;
	padding: 25px;
	height: 100%;
	width: 100%;
}
	#resources a {
		color: #418ACE!important;
	}
		#resources a:hover {
			text-decoration: underline;
		}

/*** DOCUMENTS ***/
	#current_documents {
		font-size: .9em;
	}
	#current_documents a {
		color: #006BCF!important;
		text-decoration: underline!important;
	}
		.document {
			margin: 15px 0;
		}
		.document a.remove-document i {
			color: #6B6B6B!important;
			font-size: 1.5em;
			margin-right: 5px;
			vertical-align: middle;
			transition: color .4s ease-in-out;

		}
		.document a.remove-document:hover i {
			color: #A61313!important;
		}
	.document select {
		padding: 5px;
		margin-right: 15px;
		border: 1px solid;
		background-color: #F7F7F7;
		width: auto;
		display: inline-block;
	}

/*** FOOTER ***/
	#footer {
		text-align: center;
		padding: 50px 0;
		background-color: #23282d;
		color: #666;
		font-size: .7em;
		height: 300px;
	}
	#footer a {
		text-decoration: underline;
		color: inherit;
	}
		#footer a:hover {
			font-weight: bold;
		}

	#city_logo {
		width: 150px;
	}

/*** NAVIGATION ***/
	#navigation_wrapper {
		background-color: #23282d;
		color: #CCC;
	}
	#navigation {
		list-style: none;
		padding: 0;
		margin: 0;
		position: relative;
		overflow: hidden;
		max-height: 0;
		transition: max-height 1s ease-in-out;
	}
	#navigation.open {
		max-height: 1500px;
	}
		#navigation li, #navigation_mobile_button {
			display: block;
		}
		#navigation i, #navigation_mobile_button i {
			font-size: 1.3em;
			padding-right: 10px;
		}
		#navigation a, #navigation_mobile_button a {
			font-size: 14px;
		    font-weight: 400;
		    line-height: 18px;
		    padding: 15px;
		    color: inherit;
		    display: block;
		    cursor: pointer;
		}
			#navigation a:hover, #navigation_mobile_button a:hover {
				background-color: #494949;
			}
			#navigation li.active a{
				background-color: #4C9EC9;
				color: #FFF;
			}
		#navigation i {
			position: relative;
    		top: 1px;
		}

/*** MAIN ***/
	#main_content {
		padding: 25px;
		background-color: #FFF;
	}
	a {
		color: inherit;
		text-decoration: none;
	}
	a.underlined:hover {
		text-decoration: underline!important;
	}
	h1 {
		color: #1C3E64;
	}
	hr {
		border: none;
		height: 1px;
		background-color: #FFF;
		margin: 25px 0;
	}
	a.link {
		color: #418ACE!important;
	}
	a.link:hover {
		text-decoration: underline;
	}

/*** PROGRAMS ***/
	.program {
		text-align: center;
		padding: 10px;
		background-color: #F7F7F7;
		border: 1px solid #E4E4E4;
		border-radius: 4px;
		margin-bottom: 15px;
	}

/*** TABLES ***/
	.table {
		width: 100%;
		border: none;
		border-collapse: collapse;
	}
		.table th {
			border-bottom: 1px solid #000;
		}
		.table th, .table td {
		    padding: 10px;
		    text-align: left;
		}
		.table tbody tr:nth-child(even) {
			background-color: #f2f2f2
		}
	.table a, .table a:link {
		color: #235E7C;
		text-decoration: underline;;
	}
	.table a:hover {
		text-decoration: none;
	}
	.table tfoot {
		border-top: 1px solid #000;
	}

/*** FORMS ***/
	.btn {
	    display: inline-block;
	    padding: 8px 14px;
	    margin-bottom: 0;
	    font-size: 14px;
	    font-weight: 400;
	    line-height: 1.42857143;
	    text-align: center;
	    white-space: nowrap;
	    vertical-align: middle;
	    -ms-touch-action: manipulation;
	    touch-action: manipulation;
	    cursor: pointer;
	    -webkit-user-select: none;
	    -moz-user-select: none;
	    -ms-user-select: none;
	    user-select: none;
	    background-image: none;
	    border: 1px solid transparent;
		transition: background-color .1s ease-in-out;
		border-radius: 2px;
	}
	.btn:disabled, .btn.disabled {
		opacity: .65;
		cursor: not-allowed!important;
		background-color: #303030!important;
		color: #E3E3E3!important;
		border-color: #A2A2A2;
	}
		.btn-lg {
			width: 100%;
			margin: 5px;
			padding: 15px;
			font-size: 1.2em;
		}
		.btn-primary {
		    color: #FFF;
		    background-color: #4C9EC9;
		    border-color: #235E7C;
		}
			.btn-primary:not(:disabled):hover {
				background-color: #235E7C;
			}
		.btn-secondary {
		    color: #235E7C;
		    background-color: #FFF;
		    border: 1px solid #235E7C;
		}
			.btn-secondary:not(:disabled):hover  {
				background-color: #CCC;
			}
		.btn i {
			padding-right: 10px;
		}	
	input[type=text], input[type=number], input[type=password], textarea, select {
		margin: 5px 0;
		padding: 10px;
		width: 100%;
	}
	textarea.textarea-large {
		height: 150px;
	}
	textarea.textarea-x-large {
		height: 500px;
	}
	.checkbox-group label, .radio-group label {
		display: block;
		width: 100%;
		padding: 3px 0 3px 25px;
	}
	.ui-accordion .ui-accordion-header.heading-error {
		background-color: #FFF3F3!important;
		border-color: #C42424!important;
		color: #C42424!important;
	}
		.heading-error:after {
			padding-left: 10px;
			font-family: FontAwesome;
			content: "\f06a";
		}
	.heading-success {
		background-color: #EFFFE5!important;
		border-color: #1CB011!important;
		color: #1CB011!important;
	}
		.heading-success:after {
			padding-left: 10px;
			font-family: FontAwesome;
			content: "\f058";
		}
	.input-error {
		border: 1px solid #c42424;		
	}

	span.error-details {
		padding: 15px;
		font-size: .9em;
		display: block;    	
		color: #C42424;
		font-family: "Open Sans";
		border-left: 5px solid #C42424;
		margin: 10px 0;
	}
	textarea + .error-details, input + span.error-details, select + .error-details {
		box-shadow: inset 0 20px 20px -20px rgba(0,0,0,0.2);
	}
	h1.form-group-heading {
		margin-bottom: 0;
	}
	.form-group-heading + * {
		padding-top: 15px;
	}
	.form-group {
		padding: 0;
	}
	.subtext{
		font-style: italic;
		font-size: .9em;
	}
	label.inline {
		float: left;
		width: 10em;
		padding: 11px 0;
	}
	a.inline {
		margin-right: 15px;
	}
	.label-sub {
		font-size: .9em;
		font-style: italic;
	}
	span.inline {
		padding: 11px;
	}
	label, .label {
		font-weight: bold;
	}
	input.inline + button.inline {
		margin-top: 5px;
	}
	/* Currency Symbol */
		.input-currency {
		    position: relative;
		    color: #999;
		}
		.input-currency input {
		    padding-left: 25px;
		}
		.input-currency:before {
		    position: absolute;
		    top: 0;
		    content:"$";
		    left: 10px;
		}
	/* Placeholders */
		::-webkit-input-placeholder {
	   		font-family: 'Open Sans', sans-serif;
			font-size: 14px;
		}

		:-moz-placeholder { /* Firefox 18- */
		   	font-family: 'Open Sans', sans-serif;
			font-size: 14px;
		}

		::-moz-placeholder {  /* Firefox 19+ */
		   	font-family: 'Open Sans', sans-serif;
			font-size: 14px; 	 
		}

		:-ms-input-placeholder {  
		   	font-family: 'Open Sans', sans-serif;
			font-size: 14px; 
		}
	.radio-group {
		padding-bottom: 50px;
	}
	.radio-column {
		font-size: .9em;
		padding-top: 25px;
		display: inline-block;
		width: 40%;
	}
	.radio-column label {
		font-weight: normal!important;
	}
	.radio-column span {
		font-weight: bold;
		display: block;
	}
	.form-buttons {
		padding-top: 5px;
	}

/*** UTILITIES ***/
	.wrapper {
		margin: 0;
	}
	.pull-right {
	  float: right !important;
	}
	button + button {
	  margin-right: 15px;
	}
	.pull-left {
	  float: left !important;
	}
	.clearfix:before,.clearfix:after {
		display: table;
		content: " ";
	}
	.clearfix:after {
		clear: both;
	}
	.centered {
		text-align: center;
	}
	.autoreply {
		padding: 10px 15px;	
		display: none; /* It will fade in */
	}
		.autoreply a {
			color: #345BAA;
		}
			.autoreply a:hover {
				text-decoration: underline;
			}
		.autoreply ul {
			padding-left: 15px;
		}
		.autoreply-success {
			border-left: 5px solid #53D349;
			background-color: #EAFBE9;
		}
		.autoreply-error {
			border-left: 5px solid #C42424;
			background-color: #FFEFEF;
		}
		.autoreply-info {
			border-left: 5px solid #D5CA4F;
			background-color: #FDFBEA;
		}
			.autoreply p:before {
				font-family: FontAwesome;
				font-size: 2em;
				padding-right: 15px;
				bottom: -5px;
			    float: left;
			}
				.autoreply-info p:before {
					content: "\f071";
					color: #D5CA4F;
				}
				.autoreply-success p:before {
					content: "\f058";
					color: #53D349;
				}
				.autoreply-error p:before {
					content: "\f05a";
					color: #C42424;
				}
		.autoreply-visible {
			display: block;
		}
	.inline {
		display: inline;
		vertical-align: middle;
	}
		input.inline {
			float: left;
		}
	.faded {
		opacity: .7;
	}
	.other {
		opacity: 0;
		transition: opacity .2s ease-in-out;
	}
	.spaced {
		display: block;
		margin: 30px 0;
	}
	.hidden {
		display: none;
	}
	.underlined {
		text-decoration: underline;
	}
	.large-text {
		font-size: 1.1em;
	}
	.small-text {
		font-size: .8em;
	}
	.super-small-text {
		font-size: .7em;
	}
	.not-available {
		opacity: .7!important;
		cursor: default;
	}
	.column {
		padding: 25px;
	}
	.survey {
		padding: 25px;
		margin-bottom: 25px;
		background-color: #F8F8F8;
		border-radius: 4px;
		border: 1px solid #E4E4E4;
	}
	.link {
		color: #0D1975!important;
	}
		.link:hover {
			text-decoration: underline;
		}
	.disabled {
		pointer-events: none;
	}
	.template {
		display: none;
	}
	.strong {
		font-weight: bold;
	}

/*** COLORS ***/
	.green-background {
		background-color: #96932A;
		border-color: #96932A!important;
	}
	.blue-background {
		background-color: #4C9EC9;
		border-color: #4C9EC9!important;
	}

/*** DASHBOARD ***/
.dashboard-shadow {
	margin: 15px;		
}	
.dashboard-panel h1 {
	padding: 10px;
	color: #FFF;
	margin: 0;
	text-align: center;
	font-weight: normal;
	font-size: 18px;
	border-left: 1px solid;
	border-right: 1px solid;
	border-top: 1px solid;
}
.dashboard-panel-body {
	padding: 15px;
	min-height: 200px;
	border-left: 1px solid rgba(196,33,33,0.3);
	border-right: 1px solid rgba(196,33,33,0.3);
	border-bottom: 1px solid rgba(196,33,33,0.3);
}
.dashboard-number {
	display: block;
	text-align: center;
	line-height: 200px;
	vertical-align: middle;
	font-size: 6em;
}


/*** MISC ***/
.coa_logo_small {
	width: 150px;
}
.budget-bottom p .inline {
	display: block;
}
.budget-bottom span.percent {
    text-align: center;
    display: block;
}
#saving {
	font-size: 1.3em;
	position: fixed;
	bottom: 0;
	right: 0;
	text-align: right;
	padding: 20px;
	color: #4C9EC9;
	font-weight: bold;
	opacity: .7;
	z-index: 1000;
	display: none;
}
	#saving img {
		width: 50px;
		vertical-align: middle;
		opacity: .7;
	}

/*** Programs ***/
.application-only, .loi-only {
	display: none!important;
}

ul.application-process {
	list-style: none;
	padding: 0;
}
	ul.application-process li {
		padding: 10px 0;
	}
	ul.application-process li a {
		transition: color .1s ease-in-out;
	}
	ul.application-process li, ul.application-process i {
		display: block;
		width: 100%;
		text-align: center;
	}
	ul.application-process i {
		font-size: 3em;
	}
ul.application-process a.not-available i, ul.application-process a.not-available span {
	opacity: .4!important;
}
ul.application-process a:not(.not-available):hover {
	color: #4C9EC9!important;
}
ul.application-process a.complete i {
	color: #57B841!important;
	opacity: 1;
}

/*** RESPONSIVE ***/
@media only screen and (min-width:1366px) {
	.wrapper {
		margin: 0 auto;
		max-width: 1200px;
	}
	.half {
		display: relative;
		width: 50%;
	}
	.two-cols p {
		float: left;
		width: 50%;
		padding: 0 5px;
	}
	.input-half {
		width: 50%!important;
	}
	input.inline + button.inline {
		margin-left: 10px;
	}
	#navigation {
		max-height: 75px;
	}
		#navigation li {
			display: inline-block;
			margin-left: -4px;
		}
	#navigation_mobile_button {
		display: none;
	}
	.logout-link {
		float: right !important;
	}
	ul.application-process li {
		width: auto;
		display: inline-block;
		padding: 0 25px;
	}
		ul.application-process i, ul.application-process span {
			display: block;
			width: 100%;
		}
	.dashboard-panel {
		float: left;
	}		
		.dashboard-panel-medium {
			width: 50%;
		}
		.dashboard-panel-small {
			width: 25%;
		}
		.dashboard-panel-large {
			width: 100%;
		}	
	.budget-bottom span.percent {
	    width: 50%;
	}	
	#resources_container {
		padding: 100px;
	}
}


/*** Application Review ***/
#application_review_display h2 {
	font-size: 18px;
	padding-top: 25px;
	padding-bottom: 5px;
	margin: 0;
	font-weight: normal;
}
#application_review_display h3 {
	font-weight: bold;
	font-size: 14px;
	padding: 0;
	margin: 0;
}
#application_review_display p {
	font-size: 16px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin: 0;
}

