* {
	box-sizing: border-box;	
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
}
h1 {
	color: #005596;
	font-size: 1.25em;
	font-weight: normal;
}
	h1.section-heading {
		color: #FFF;
		background-color: #005596;
		text-align: center;
		padding: 10px 0 5px 0;	
	}
h2 {
	color: #005596;
	font-size: 1.15em;
	font-weight: normal;
}
.document-section {
	margin-bottom: 25px;
}
/*** TABLES ***/
	.table {
		width: 100%;
		border: none;
		border-collapse: collapse;
	}
	.table td {
		position: relative;
	}
		.table th {
			border-bottom: 1px solid #000;
		}
		.table th, .table td {
		    padding: 10px;
		    text-align: left;
		}
		.table tbody tr:nth-child(even) {
			background-color: #f2f2f2
		}
	.table a, .table a:link {
		color: #235E7C;
		text-decoration: underline;;
	}
	.table a:hover {
		text-decoration: none;
	}
	.table tfoot {
		border-top: 1px solid #000;
	}
