/**********************************************/
/*											  */
/*	Styles relating to the survey pages ONLY  */
/*										      */
/**********************************************/

.question {
	font-size: 1.1em;
}
.post {
	opacity: 0;
	transition: opacity .2s ease-in-out;
}